<nav class= 'navbar navbar-expand navbar-light bg-light'>
    <a class='navbar-brand'>{{pageTitle}}</a>
    <ul class='nav nav-pills'>
      <li><a class='nav-link' [routerLink] = "['/home']">Home</a></li>
      <li><a class='nav-link' [routerLink] = "['/products']">Product List</a></li>
      <!--<li> <a class='navbar-brand user-name'>{{userName}}</a></li>
      <li><a class='nav-link' [routerLink] = "['/login']">Logout</a></li>-->
    </ul>
    <a class='navbar-brand user-name'>{{userName}}</a>
    <a class='nav-link' [routerLink] = "['/login']">Logout</a>
  </nav>
  <div class='container'>
     <router-outlet></router-outlet>
  </div>
